:root {
  --primary-color: #1456cb;
  --title-color: #0a2b66;
  --primary-color-hover: #A6C6FF;
  --secondary-color: #d9e7ff;
  --border-color: rgba(0, 0, 0, 0.1);

  --font-heading-2: 1.6rem;
  --font-heading-4: 1rem;
  --font-paragraph: 0.85rem;
  --font-span: 0.8rem;

  --border-radius-type-1: 0.3rem;
  --border-radius-type-2: 0.2rem;
  --border-radius-type-3: 0.4rem;

}